/* user regular css can go here if preferred over sass */

html {
  background-color: #2d98da;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-item {
  display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.navbar .navbar-title {
  color: #ffffff;
  font-size: 26px;
}

.navbar-burger {
  color: #ffffff;
}

.navbar-burger span {
  height: 2px;
  width: 20px;
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.algorithm-container {
  overflow-y: scroll;
  padding: 20px;
}

.algorithm-container .box {
  font-family: consolas;
}

.algorithm-container .algorithm-footer {
  text-align: center;
}

.box {
  cursor: pointer;
}